{% extends 'datos/base.html' %}

{% block titulo %}
    Listado completo
{% endblock %}

{% block contenido %}
    <h1 class="text-center">Listado completo</h1>
    <a class = 'btn btn-outline-dark'  href="{% url 'datos_app:imprimir_todo'%}"><i class="fa fa-print"></i>&nbsp;Imprimir</a>
    <hr>
    <div class="jumbotron mijumbo border-primary  shadow">

        {% if datos_list.count == 0 %}
            <h2 class="text-center text-secondary">De momento no tienes datos en tu Base de Datos</h2>
        {% else %}
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center ">Fecha</th>
                  <th scope="col" class="text-center ">Concepto</th>
                  <th scope="col" class="text-center ">Ingreso</th>
                  <th scope="col" class="text-center ">Gasto</th>
                  <th scope="col" class="text-center ">Total</th>
                  <th scope="col" class="text-center" >Acciones</th>
                </tr>
              </thead>



              {% for dato in datos_list|dictsortreversed:'fecha' %}


              <tbody>

                <tr>
                  <th scope="row">{{ dato.fecha }}</th>
                  <td >{{ dato.concepto }}</td>
                  <td class="text-right azul">{{ dato.ingreso }} €</td>
                  <td class="text-right rojo">- {{ dato.gasto }} €</td>
                  <td class="text-right verde">{{ dato.total }} €</td>
                  <td class="text-center ">

                      <a class='btn btn-outline-primary btn-sm shadow' href="{% url 'datos_app:actualizar_datos' dato.id %}"><i class="fa fa-edit"></i>&nbsp;Editar</a>
                      <a class='btn btn-sm btn-outline-danger shadow' href="{% url 'datos_app:borrar_dato' dato.id %}"><i class="fa fa-trash"></i>&nbsp;Borrar</a>
                      <a class='btn btn-sm btn-outline-secondary shadow' href="{% url 'datos_app:imprimir_uno' dato.id %}"><i class="fa fa-print"></i>&nbsp;Imprimir</a>
                      <span class="fa"></span>
                  </td>
                </tr>

              </tbody>
             {% endfor %}
            </table>

        {% endif %}

        <div class="row centrar">
            <div class="col-lg-5 centrar">
                 {% if is_paginated%}
                <ul class = 'pagination'>
                {%  if page_obj.has_previous %}
                    <li class="page-item p-1">
                        <a class = 'page-link text-muted' href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i></a>
                    </li>
                {% else %}
                    <li class="page-item p-1 disabled">
                        <a class = 'page-link text-muted' href="#"><i class="fa fa-arrow-left"></i></a>
                    </li>
                {% endif %}
                {% for pagina in paginator.page_range %}
                    {% if page_obj.number == pagina %}
                        <li class="p-1 page-item active">
                            <a class= 'page-link' href="?page={{ pagina }}">{{ pagina }}</a>
                        </li>
                    {% else %}
                        <li class="p-1 page-item">
                            <a class= 'page-link text-muted' href="?page={{ pagina }}">{{ pagina }}</a>
                        </li>
                    {% endif %}


                {% endfor %}

                {%  if page_obj.has_next %}
                    <li class="page-item p-1">
                        <a class = 'page-link text-muted' href="?page={{ page_obj.next_page_number }}"><i class="fa fa-arrow-right"></i></a>
                    </li>
                {% else %}
                     <li class="page-item p-1 disabled">
                        <a class = 'page-link text-muted' href="#"><i class="fa fa-arrow-right"></i></a>
                    </li>
                {% endif %}

                </ul>
            {% endif %}
            </div>


        </div>


    </div>
{% endblock %}